parameters:
    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
    doctrine:
        objectManagerLoader: tests/object-manager.php
    bootstrapFiles:
        - bin/.phpunit/phpunit-8.5-0/vendor/autoload.php